.line{
    height: 1px;
    width: 14vw;
    background-color: grey;
}
.middle{
    margin-left: 15px;
    display: flex;
    gap: 11px;
    flex-direction: column;
}
.overall{
    margin-top: 12px;
    margin-bottom: 12px;
}